<h3>{{this.developerName}}</h3>


<app-generic-list [list]="movies">

    <ng-container loading>
            This is loading....
    </ng-container>

    <ng-container content>

        <div class="movies-container">
            <div *ngFor="let movie of this.movies; let i=index" class="movie-container">
                <a>
                    <img [src]="movie.imgPath" alt="poster">
                </a>
                <p>
                    <a>{{this.movie.title}}</a>
                </p>

                <div>
                    <a mat-flat-button color="primary">
                        Edit
                    </a>

                    <button mat-flat-button color="warn">Delete</button>
                </div>
                 
            </div>
        </div>

       
    </ng-container>
</app-generic-list>

