<mat-toolbar color="primary">
    <span>
      <a mat-button routerLink="/">
          <mat-icon>lock_open</mat-icon>
        Movies App</a>
    </span>

    <div>
      <a mat-button routerLink="movies/filter" >
        <mat-icon>search</mat-icon> Movies Filter
      </a>
    </div>

    <div>
      <a  mat-button routerLink="genres">Generes</a>
    </div>

    <div>
      <a  mat-button routerLink="movietheater">Movies Theather</a>
    </div>
   
    <div>
      <a  mat-button routerLink="actors">Actors List</a>
    </div>
   
    <div>
      <a  mat-button routerLink="movies/create">Create Movies</a>
    </div>
  </mat-toolbar>